/* 전체 스타일 */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f1f1f1;
}

/* 헤더 스타일 */
header {
background-color: #333;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

header img {
height: 50px;
}

header h1 {
margin: 0;
font-size: 24px;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
display: flex;
}

nav li {
margin-right: 20px;
}

nav a {
color: #000000;
text-decoration: none;
font-size: 18px;
}

nav a:hover {
text-decoration: underline;
}

/* 메인 콘텐츠 스타일 */
main {
margin: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

section {
background-color: #fff;
width: calc(50% - 10px);
margin-bottom: 20px;
padding: 20px;
}

section h2 {
margin-top: 0;
font-size: 20px;
margin-bottom: 10px;
}

/* 푸터 스타일 */
footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
}

footer p {
margin: 0;
}